.wrapper {
	display: flex;
	margin: 0 auto;
	background-color: #7e7070;
	gap: 20px;
	padding: 15px;
	width: clamp(12.5rem, 7.143rem + 26.79vw, 31.25rem);
	border-radius: 20px;
	margin-top: 30px;
}

.img {
	width: clamp(6.25rem, 4.464rem + 8.93vw, 12.5rem);
	border-radius: 20px;
}

.right {
	display: flex;
	flex-direction: column;
}

.title {
	color: #000;
	font-size: 16px;
}

.status {
	font-size: 16px;
}
