.wrapper {
	display: flex;
	background-color: #7e7070;
	gap: 20px;
	padding: 15px;
	width: clamp(12.5rem, 7.143rem + 26.79vw, 31.25rem);
	border-radius: 20px;
	margin-top: 30px;
	width: 100%;
}

.img {
	width: clamp(6.25rem, 4.464rem + 8.93vw, 12.5rem);
	border-radius: 20px;
}

.right {
	display: flex;
	flex-direction: column;
}

.title {
	color: #000;
	font-size: 16px;
}

.status {
	font-size: 16px;
}

@media (max-width: 480px) {
	.wrapper {
		width: 100%;
		padding: 10px;
		gap: 10px;
		flex-direction: column;
	}

	.img {
		width: 100%;
	}

	.title,
	.status {
		font-size: 14px;
	}
}

@media (max-width: 320px) {
	.wrapper {
		width: 100%;
		padding: 5px;
		gap: 5px;
	}

	.img {
		width: 100%;
	}

	.title,
	.status {
		font-size: 12px;
	}
}
